*{
  padding: 0;
  margin: 0;
}

body{

  min-height: 100vh;
  position: relative;
  background: rgb(182, 182, 182);
}

.vertical-menu a {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #eee; 
  color: black; 
  display: block; 
  padding: 10px; 
  text-decoration: none; 
  margin-bottom: 10px;
  border-radius: 30px;
}

.vertical-menu a:hover, button:hover {
  background-color:rgba(0, 0, 0, 0.61); 
  color:#eee;
  cursor: pointer;
  transition-duration: 0.4s;

}

button {
  border:none;
  border-radius: 30px;
}
