*{
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  
  -webkit-user-select: none;   
  user-select: none;     
}

body{
  min-height: 100vh;
  position: relative;
  background: rgb(182, 182, 182);
}

.vertical-menu a {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #eee; 
  color: black; 
  display: block; 
  padding: 10px; 
  text-decoration: none; 
  margin-bottom: 10px;
  border-radius: 30px;
}

.subOptionBlock{
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid rgba(0, 0, 0, 0.61);
  border-radius: 10px;
  text-align: center;
}
  
.subOptionBlock *{
  display: inline;
}

.subOptionBlock p{
  font-size: 25px;
}

.subOptionBlock .rng{
  margin-top: 9px;
  width: 150px;
}


input[type='range'] {
  -webkit-appearance: none;
  outline: none;
  height: 15px;
  border-radius: 30px;
  background-color: #eee;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 15px;
  height: 13px;
  cursor: ew-resize;

  border-radius: 30px;
  background: black;
}

.vertical-menu a:hover, button:enabled:hover {
  background-color:rgba(0, 0, 0, 0.61); 
  color:#eee;
  cursor: pointer;
  transition-duration: 0.3s;
}

.subOptionBlock:hover{
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.61);
  color: #eee;
}

input[type='range']:hover{
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.61);
  cursor: pointer;
}

input[type='range']:hover::-webkit-slider-thumb{
  background: #eee;
}

button {
  border:none;
  border-radius: 30px;
}