body{
  min-height: 100vh;
  position: relative;
}
  
main{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.options{
  text-align: center;
}

.vertical-menu{
  position: absolute;
  width: 280px;
  display: inline-block;
}
  
select{
  width: 156px;
  height: 40px;
}

button{
  width: 120px;
  height: 40px;
  margin-bottom: 5px;
}

textarea {
  width: 272px;
  min-height: 30px;
  max-height: 100px;
  resize: vertical;
  border-radius: 6px;
  margin-bottom: -4px;
}

#treeDiv {
  min-width: 900px;
  min-height: 900px;
  margin-left: 300px;
}

#range, #minNecessaryRatio{
  width: 272px;
}

/*
tree visualisation
*/
.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}

.tree,
.tree ul {
    display: table;
}

.tree ul {
    width: 100%;
}

.tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
}



.tree li:before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree code,
.tree span {
    border: solid .1em #666;
    border-radius: .2em;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
    background-color: white;
}

.tree ul:before,
.tree code:before,
.tree span:before {
    outline: solid 1px #666;
    content: "";
    height: .5em;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -.5em;
}

.tree code:before,
.tree span:before {
    top: -.55em;
}

.tree>li {
    margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>span:before {
    outline: none;
}

.layer {
  overflow: scroll; 
  width: 900px; 
  height: 900px; 
  margin-left: 300px;
  border: solid 1px black; 
  background-color: rgb(255, 255, 255);
 } 

 #csvFile{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  margin: 5px;
 }

#depth *{
  font-size: 20px;
  margin: 5px;
}

#maxDepth{
    height: 30px;
    text-align: center;
}

#buildTreeBtn, #classifyBtn{
  border: solid rgb(74, 122, 0);
}

#resetFileBtn{
  border: solid rgb(231, 78, 17);
}

.subOptionBlock{
  margin-top: 10px;
  margin-bottom: 10px;
}