body{
  min-height: 100vh;
  position: relative;
}

main{
  display: inline-block;
    position: absolute;
    top: 50%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.vertical-menu{
  position: absolute;
  width: 280px;
  display: inline-block;
}

canvas{
 margin-left: 300px;
  
}

select{
  width: 156px;
  height: 40px;
}

input{
  width: 143px;
  height: 30px;
}

button{
  margin:5px;
  width: 120px;
  height: 40px;
}

#num{
  margin: 10px;
}

#autoRec{
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

#recTime{
  margin-left: 300px;
}

.progressBar{
  margin-left: 300px;
}