body{
    min-height: 100vh;
    position: relative;
  }
  
  main{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .vertical-menu{
    position: absolute;
    width: 280px;
    display: inline-block;
  }


.p5Canvas{
    margin-left: 300px;
}
  
select{
    width: 156px;
    height: 40px;
  }
  
  button{
    width: 120px;
    height: 40px;
  }